body {
    /* setting and postitioning background image */
    background-image: url('tranquilist_home.jpg');
    background-size: cover left;
    background-repeat: no-repeat;
}

.intro {
    position: absolute;
    width: 50%;
    text-align: center;
    top: 250px;
    left: 25%;
    font-size: 2rem;
    font-weight: 400;
    text-shadow: none;
}

#form-container {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40vw;
    background-color: rgb(200, 183, 160);
    border: 3px solid darkslategray;
    box-shadow: 5px 5px rgba(120, 120, 120, 0.792);
    border-radius: 10px;
}

h2 {
    margin-left: 5%;
    text-shadow: 1px 1px whitesmoke;
}

input {
    margin-left: 5%;
    width: 50%;
    margin-top: 10px;
}

button {
    background-color: darkslategray;
    color: whitesmoke;
    border: whitesmoke;
    border-radius: 5px;
    padding: 1%;
    margin: 5px 25%;
}

.close-form {
    background-color: rgba(245, 245, 245, 0);
    color: darkslategray;
    position: absolute;
    margin: 1%;
    right: 0%;
}
