.hidden {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trattatello', cursive;
}

header {
    padding: 5% 0% 0% 10%;
}

h1 {
    display: inline-block;
    width: 60%;
    font-size: 4rem;
}


.h1span {
    font-style: italic;
}

nav {
    display: inline-block;
}

a {
    text-decoration: none;
}

.navlink {
    padding: 0 10px;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px whitesmoke;
    color: rgb(30, 105, 105);
}
