{% extends 'base.html' %}

{% block head_content %}
<link rel="stylesheet" href="/static/navbar.css">
<link rel="stylesheet" href="/static/app_home.css">
{% endblock %}

{% block page_title %} Tranquilist {% endblock %}

{% block page_content %}
    <header>
        <h1>Tranqui<span class="h1span">List</span></h1>
        <nav>
            {% if g.user %}
                <a class="navlink" href="/mylists">My Tasks</a>
                <a class="navlink" href="/logout">Logout</a>
            {% else %}
                <a class="navlink" href="https://calendar.google.com" target="_blank">Calendar</a>
                <a class="navlink" href="#" id="reg-login">Sign Up/Login</a>
            {% endif %}
        </nav>
    </header>
    <p class="intro">The laid back task manager</p>

    {% if not g.user %}
        <section id="form-container" class="hidden">
            <button class="close-form">X</button>
            <div class="form signup-form">
                <h2>Sign up</h2>
                <form method="POST" action="/register">
                    {{ signup_form.hidden_tag() }}
                    {% for field in signup_form if field.widget.input_type != 'hidden' %}
                        {{ field }}
                        {{ field.label }}
                        {% for error in field.errors %}
                        <p> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                    <button>Create Account</button>
                </form>
            </div>
            <hr>
            <div class="form login-form">
                <h2>Log In</h2>
                <form method="POST" action="/login">
                    {{ login_form.hidden_tag() }}
                    {% for field in login_form if field.widget.input_type != 'hidden' %}
                        {{ field }}
                        {{ field.label }}
                        {% for error in field.errors %}
                        <p> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                    <button>Log In</button>
                </form>
            </div>
        </section>
    {% endif %}

{% endblock %}
