{% extends 'base.html' %}

{% block page_title %} Tranquilist {% endblock %}

{% block page_content %}
    <h1>TranquiList</h1>
    <blockquote id="daily-quote">{{ quote.text }}</blockquote>

    <h2>Upcoming:</h2>
    <section>
        <h2>Today</h2>
        <ul class='today'>

        </ul>
    </section>
    <section>
        <h2>Soon</h2>
        <ul class='soon'>

        </ul>
    </section>
    <section>
        <h2>Eventually</h2>
        <ul class='eventually'>

        </ul>
    </section>
    <section>
        <h2>Calendar</h2>
        <ul id="calendar-events">
            {% for event in events %}
                {% if event['start'].date %}
                    <li>
                        <p><span>Date: </span> {{event['start'].date }}</p>
                        <p><span>Event: </span>
                            <a href="{{ event['htmlLink']}}" target="_blank">
                                {{event['summary'] }}
                            </a>
                        </p>
                    </li>
                {% elif event['start'].dateTime %}
                    <li>
                        <p>
                            <span>Date: </span> {{event['start'].dateTime }}

                        </p>
                        <p><span>Event: </span>
                            <a href="{{ event['htmlLink']}}" target="_blank">
                                {{event['summary'] }}
                            </a>
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
