{% extends 'base.html' %}

{% block page_title %} Register {% endblock %}

{% block page_content %}
    <h1>Sign up</h1>
    <p>Take some pressure off of your busy mind</p>
    <form id="sign-up-form" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
            <p> {{ error }} </p>
            {% endfor %}
        {% endfor %}
        <button>Create Account</button>
    </form>
{% endblock %}
