{% extends 'base.html' %}

{% block head_content %}
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/user_home.css">
{% endblock %}

{% block page_title %} My TranquiList {% endblock %}

{% block page_content %}
    <header>
        <h1>Tranqui<span class="h1span">L</span>ist</h1>
        <nav>
           <a class='navlink usernav' href="/">Home</a></li>
           <a class='navlink usernav' href="/logout">Log Out</a>
        </nav>
    </header>
    <main>
        <h2>Welcome {{ user.fname }}</h2>
        {% if quote.text %}
            <blockquote>
                <p id="quote"> {{ quote.text }} </p>
            </blockquote>
        {% endif %}
        <div id="grid-container">
            <div>
                {% for timeline in timelines %}
                    <section>
                        <h3 id="{{ timeline.id }}"> {{ timeline.name }} </h3>
                        <ul>
                            {% for list in user.lists %}
                                {% if list.time_line_id == timeline.id %}
                                    <li class="item complete-{{list.complete}}" id="{{list.id}}">{{ list.name }}
                                        <a href="/tasks/{{list.id}}/del" id="task-del-btn">X</a>
                                    </li>
                                        {% if list.subtasks %}
                                            <ul class="subtask-grp">
                                            {% for task in list.subtasks %}
                                                 <li class="subtask complete-{{task.complete}}"> > {{ task.name }}
                                                    {% if task.details %}
                                                    <span class="details">: {{ task.details }}</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            </div>
            <div>
                <section>
                    <h3 id="cal-h3">Calendar</h3>
                    <ul>
                        {% for event in events %}
                            <li> <span>{{ event['newStart'].date }}</span>
                                {% if event['newStart'].time %}
                                    <span class="time"> @ {{ event['newStart'].time }}</span>
                                {% endif %}
                            </li>
                            <li class="subtask-grp cal-event">
                                <a class="cal-anchor" href="{{ event['htmlLink']}}" target="_blank" >
                                    {{event['summary'] }}
                                </a>
                            </li>

                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </main>
    <div id="background-cover" class="hidden"></div>
    <div id="main-tasks-forms" class="hidden">
        <form method="POST" action="/tasks/new">
            <h5>Create Task</h5>
            {{ task_form.hidden_tag() }}
            {% for field in task_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Create">
        </form>
    </div>
    <div id="edit-main-tasks" class="hidden">
        <form action="/tasks/edit" method="POST">
            <h5>Edit Task</h5>
            {{ edit_tasklist_form.hidden_tag() }}
            {% for field in edit_tasklist_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <button>Save</button>
        </form>
        <hr>
        <form method="POST" action="/tasks/subtask/new">
            <h5>Create Subtask</h5>
            {{ subtask_form.hidden_tag() }}
            {% for field in subtask_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <button>Create</button>
        </form>
    </div>

{% endblock %}
