{% extends 'base.html' %}

{% block head_content %}
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/user_home.css">
{% endblock %}

{% block page_title %} My TranquiList {% endblock %}

{% block page_content %}
    <header>
        <h1>Tranqui<span class="h1span">List</span></h1>
        <nav>
           <a class='navlink usernav' href="/">Home</a></li>
           <a class='navlink usernav' href="/logout">Log Out</a>
        </nav>
    </header>
    <main>
        <h2>Welcome {{ user.fname }}</h2>
        {% if quote.text %}
            <blockquote>
                <p id="quote"> {{ quote.text }} </p>
            </blockquote>
        {% endif %}
        <div id="grid-container">
            <div>
                {% for timeline in timelines %}
                    <section>
                        <h3 id="{{ timeline.id }}"> {{ timeline.name }}
                            <!-- <button class="h3-btn"></button> -->
                        </h3>
                        <ul>
                            {% for list in user.lists %}
                                {% if list.time_line_id == timeline.id %}
                                    <li class="item complete-{{list.complete}}" id="{{list.id}}">{{ list.name }}
                                        <!-- <button class="add-subtask-btn"></button>
                                        <button class="del-task-btn"></button> -->
                                    </li>
                                        {% if list.subtasks %}
                                            <ul class="subtask-grp">
                                            {% for task in list.subtasks %}
                                                 <li class="subtask complete-{{task.complete}}"> > {{ task.name }}
                                                    {% if task.details %}
                                                    <span class="details">: {{ task.details }}</span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            </div>
            <div>
                <section>
                    <h3>Calendar</h3>
                    <ul>
                        {% for event in events %}
                            <li class="item"> <span>{{ event['newStart'].date }}</span>
                                {% if event['newStart'].time %}
                                    <span class="time"> @ {{ event['newStart'].time }}</span>
                                {% endif %}
                            </li>
                            <li class="subtask-grp cal-event">
                                <a class="item cal-anchor" href="{{ event['htmlLink']}}" target="_blank" >
                                    {{event['summary'] }}
                                </a>
                            </li>

                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>

    </main>
    <div id="form-container">
        <form method="POST" action="/tasks/new" class="new-tasklist hidden">
            <h5>Create Task</h5>
            {{ task_form.hidden_tag() }}
            {% for field in task_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Create">
            <button class="">Cancel</button>
        </form>
        <form method="POST" action="/tasks/subtask/new" class="subtask-form hidden">
            <h5>Create Subtask</h5>
            {{ subtask_form.hidden_tag() }}
            {% for field in subtask_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Create">
            <button class="">Cancel</button>
        </form>
        <form action="/tasks/1/edit", method="POST" class="edit-tasklist-form">
            <h5>Edit Task</h5>
            {{ edit_tasklist_form.hidden_tag() }}
            {% for field in edit_tasklist_form if field.widget.input_type != 'hidden' %}
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                <p> {{ error }} </p>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Save">
            <button class="">Cancel</button>
        </form>
    </div>


{% endblock %}
