{% extends 'base.html' %}
<link rel="stylesheet" href="/static/user_home.css">

{% block page_title %} My TranquiList {% endblock %}

{% block page_content %}
    <h1>TranquiList</h1>
    <a href="/">Home</a>
    <a href="/logout">Log Out</a>
    <hr>

    <p>Welcome {{ user.fname }}</p>
    <blockquote id="daily-quote">{{ quote.text }}</blockquote>

    <h2>Upcoming Tasks:</h2>
    <section>
        <h3>Today</h3>
        <ul class='today'>
            {% for list in user.lists %}
                {% if list.time_line_id == 1 %}
                    <li>Task: {{ list.name }}  Complete: {{ list.complete }}
                        {% for task in list.subtasks %}
                            <ul>
                                <li>Subtask: {{ task.name }} Details: {{ task.details }} Complete: {{ task.complete }}</li>
                            </ul>
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Soon</h3>
        <ul class='soon'>
            {% for list in user.lists %}
                {% if list.time_line_id == 2 %}
                    <li>Task: {{ list.name }}  Complete: {{ list.complete }}
                        {% for task in list.subtasks %}
                            <ul>
                                <li>Subtask: {{ task.name }} Details: {{ task.details }} Complete: {{ task.complete }}</li>
                            </ul>
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section>
        <h3>Later</h3>
        <ul class='eventually'>
            {% for list in user.lists %}
                {% if list.time_line_id == 1 %}
                    <li>Task: {{ list.name }} Complete: {{ list.complete }}
                        {% for task in list.subtasks %}
                            <ul>
                                <li>Subtask: {{ task.name }} Details: {{ task.details }} Complete: {{ task.complete }}</li>
                            </ul>
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>


    </section>
    <section id="calendar-sect">
        <h3>Calendar</h3>
        <ul id="calendar-events">
            {% for event in events %}
                {% if event['start'].date %}
                    <li>
                        <p><span>Date: </span> {{event['start'].date }}</p>
                        <p><span>Event: </span>
                            <a href="{{ event['htmlLink']}}" target="_blank">
                                {{event['summary'] }}
                            </a>
                        </p>
                    </li>
                {% elif event['start'].dateTime %}
                    <li>
                        <p>
                            <span>Date: </span> {{event['start'].dateTime }}

                        </p>
                        <p><span>Event: </span>
                            <a href="{{ event['htmlLink']}}" target="_blank">
                                {{event['summary'] }}
                            </a>
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
